In [32]:
import pandas as pd
import os
import numpy as np

In [66]:
data_file = "life_expectancy.csv"
data_file2 = "uszips.csv"
data_file3 = "tax_rates.csv"
life_df = pd.read_csv(data_file)
zips = pd.read_csv(data_file2)
tax_rates = pd.read_csv(data_file3)
zips.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,17126.0,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37895.0,482.5,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49136.0,552.4,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5751.0,50.1,72093,Maricao,"{""72093"": 82.26, ""72153"": 11.68, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26153.0,272.1,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [68]:
#cut down zips dataframe to only columns we need "county_name" and "zip"
zips = zips[["county_name", "zip"]]
tax_rates = tax_rates[["ZipCode","EstimatedCombinedRate"]]
#remove blanks from tax_rates dataframe
tax_rates = tax_rates.dropna()
#average tax rates by zip code
#tax_rates = tax_rates.groupby("ZipCode").mean()

#create new column in tax_rates and start at 1 to end of column
merged_df = tax_rates.merge(zips, left_on="ZipCode", right_on="zip")

In [70]:
merged_df.head()
merged_df = merged_df[["zip","county_name","EstimatedCombinedRate"]]

In [18]:
data_file = "life_expectancy.csv"
life_df = pd.read_csv(data_file)
#remove data with missing values
life_df = life_df.dropna()
county_df = life_df.groupby("County").mean()


#sort by life expectancy
county_df = county_df.sort_values("Life Expectancy", ascending=False)
#add ranking column starting with 1 to end of dataframe
county_df["Rank"] = range(1, len(county_df) + 1)


#rename rank to "Life Expectancy Rank"
county_df = county_df.rename(columns={"Rank": "Life Expectancy Rank"})
county_df.head()

C:\Users\geoff\AppData\Local\Temp\ipykernel_24692\2657171529.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  county_df = df.groupby("County").mean()

,Census Tract Number,Life Expectancy,Life Expectancy Standard Error,Life Expectancy Rank
County,,,,
"Cheyenne County, CO",9606.0,89.5,2.8702,1
"Wayne County, UT",9791.0,89.3,2.6795,2
"Haskell County, KS",4631.0,88.6,2.3369,3
"Stanton County, KS",9641.0,87.9,3.0617,4
"Custer County, ID",9602.0,87.7,3.3063,5