In [50]:
#import dependencies
import pandas as pd

In [51]:
#set csv paths
csv_path = "Median_Salary_County.csv"
csv_path1 = "Median House Price by County.csv"

In [52]:
#create initial DataFrame for median incomes
salary_median_df = pd.read_csv(csv_path)
salary_median_df = salary_median_df[["Area_name", "Median_Household_Income_2020"]]
salary_median_df = salary_median_df.dropna(how="any")
salary_median_df['Area_name'] = salary_median_df['Area_name'].str.split(',').str[0]
salary_median_df

# salary_median_df['Median_Household_Income_2020'] = salary_median_df['Median_Household_Income_2020'].str.split(',').str[0] + salary_median_df['Median_Household_Income_2020'].str.split(',').str[1]
# salary_median_df = salary_median_df.rename(columns={"Area_name": "RegionName"})
# salary_median_df

              Area_name Median_Household_Income_2020
0         United States                       67,340
1               Alabama                       53,958
2        Autauga County                       67,565
3        Baldwin County                       71,135
4        Barbour County                       38,866
...                 ...                          ...
3193  Sweetwater County                       70,583
3194       Teton County                       92,488
3195       Uinta County                       71,246
3196    Washakie County                       58,532
3197      Weston County                       58,901

[3194 rows x 2 columns]

In [53]:
salary_median_df['Median_Household_Income_2020'] = salary_median_df['Median_Household_Income_2020'].str.split(',').str[0] + salary_median_df['Median_Household_Income_2020'].str.split(',').str[1]
salary_median_df = salary_median_df.rename(columns={"Area_name": "RegionName"})
salary_median_df

             RegionName Median_Household_Income_2020
0         United States                        67340
1               Alabama                        53958
2        Autauga County                        67565
3        Baldwin County                        71135
4        Barbour County                        38866
...                 ...                          ...
3193  Sweetwater County                        70583
3194       Teton County                        92488
3195       Uinta County                        71246
3196    Washakie County                        58532
3197      Weston County                        58901

[3194 rows x 2 columns]

In [54]:
#create DataFrame for median home values
house_median_df = pd.read_csv(csv_path1)
house_median_df = house_median_df[["RegionName", "State", "1/31/2020"]]

#drop null values
house_median_df = house_median_df.dropna(how="any")
house_median_df

              RegionName State     1/31/2020
0     Los Angeles County    CA  631286.38240
1            Cook County    IL  216299.06610
2          Harris County    TX  202261.48560
3        Maricopa County    AZ  302470.39690
4       San Diego County    CA  602616.84940
...                  ...   ...           ...
3067        Grant County    NE  118399.36330
3068       Hooker County    NE   64905.40872
3069     Treasure County    MT  134998.62360
3073     San Juan County    CO  283625.08840
3075    Petroleum County    MT  136540.78460

[3012 rows x 3 columns]

In [55]:
#merge previous DataFrames
merge_df = pd.merge(salary_median_df, house_median_df, on="RegionName" )

#rename columns of merged DataFrame
merge_df=merge_df.rename(columns={
    "RegionName":"County Name",
    "State":"State",
    "Median_Household_Income_2020":"Median Household Income (2020)",
    "1/31/2020":"Median House Price (1/31/2020)"
})
#rearrange columns
state = merge_df.pop("State")
merge_df.insert(1,"State",state)

#display DataFrame
merge_df

,County Name,State,Median Household Income (2020),Median House Price (1/31/2020)
0,Autauga County,AL,67565,167794.7032
1,Baldwin County,AL,71135,235495.2010
2,Baldwin County,GA,71135,110264.3185
3,Baldwin County,AL,49350,235495.2010
4,Baldwin County,GA,49350,110264.3185
...,...,...,...,...
14064,Sublette County,WY,82442,268862.3913
14065,Sweetwater County,WY,70583,216300.7314
14066,Uinta County,WY,71246,193432.0885
14067,Washakie County,WY,58532,174108.6965
14068,Weston County,WY,58901,174548.4136

In [56]:
#find ratio of median income to median house price
# merge_df.info()
merge_df["Ratio Income to House Price"] = merge_df["Median Household Income (2020)"].astype(float) /  merge_df["Median House Price (1/31/2020)"]
merge_df

,County Name,State,Median Household Income (2020),Median House Price (1/31/2020),Ratio Income to House Price
0,Autauga County,AL,67565,167794.7032,0.402665
1,Baldwin County,AL,71135,235495.2010,0.302066
2,Baldwin County,GA,71135,110264.3185,0.645132
3,Baldwin County,AL,49350,235495.2010,0.209558
4,Baldwin County,GA,49350,110264.3185,0.447561
...,...,...,...,...,...
14064,Sublette County,WY,82442,268862.3913,0.306633
14065,Sweetwater County,WY,70583,216300.7314,0.326319
14066,Uinta County,WY,71246,193432.0885,0.368326
14067,Washakie County,WY,58532,174108.6965,0.336181
14068,Weston County,WY,58901,174548.4136,0.337448